{% extends 'base.html' %}
{% load static %}

{% block title %}
Edit house owner
{% endblock title %}
{% block content %}

<style>
    html {
        font-size: 14px;
    }

    form {
        max-width: 600px;
        margin: auto;
        border: 1px solid green;
        padding: 25px;
        border-radius: 5px;
        font-size: 18px;
    }

    form input {
        padding: 5px;
        width: 100%;
    }

    @media (max-width: 768px) {
        html{
            font-size: 12px;
        }
        form {
            padding: 15px;
        }

        form input {
            width: 100%;
        }
    }

    h2 {
        text-align: center;
        margin: 5vh 0;
    }
</style>
<div class="edit-house-owner-ctn" style="margin-top: 10vh;">
    <a href="{% url 'dashboard:house_owner' %}" class="btn btn-secondary mt-2" onclick="goBack()"><img src="{% static 'img/icons8-back-20.png' %}">Go back / ត្រឡប់​ក្រោយ</a>
    <h2>Edit House Owner</h2>

    <form method="post" action="{% url 'dashboard:house_owner_edit' pk=house_owner.id %}">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-success"><img src="{% static 'img/icons8-save-15.png' %}"> Save</button>
    </form>
</div>

{% endblock %}