{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Base</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %} ">
    {% block css %}{% endblock css %}
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only"></span>
                </button>
            </div>
            <div class="p-4 pt-5">
                <img src="{% static 'img/icons8-house-48.png' %}">
                <a href="{% url 'dashboard:dashboard' %}" class="font-weight-bold" style="color:#fff;">Room Rental</a>
                <ul class="list-unstyled components mb-5">
                    <li><a href="{% url 'dashboard:dashboard' %}">
                            <span class="link-name">Dahsboard <br>ផ្ទាំងគ្រប់គ្រង</span>
                        </a></li>

                    <li><a href="{% url 'dashboard:CheckIn' %}">
                            <span class="link-name">Check-In / ថែ្ងចូល</span>
                        </a></li>

                    <li><a href="{% url 'dashboard:CheckOut' %}">
                            <span class="link-name">Check-Out / ថែ្ងចេញ</span>
                        </a></li>

                    <li><a href="{% url 'dashboard:room_list' %}">
                            <span class="link-name">Room / បន្ទប់</span>
                        </a></li>

                    <li><a href="{% url 'dashboard:house_owner' %}">
                            <span class="link-name">House Owner / ម្ចាស់ផ្ទះ</span>
                        </a></li>
                    <li><a href="{% url 'dashboard:monthly_fee' %}">
                            <span class="link-name">Monthly Fee <br>ថ្លៃ​សេវា​ប្រចាំ​ខែ</span>
                        </a></li>
                    <li><a href="{% url 'dashboard:client' %}">
                            <span class="link-name">Client / អតិថិជន</span>
                        </a></li>
                    <li><a href="{% url 'dashboard:other_fee' %}">
                            <span class="link-name">Other Fee <br>ថ្លៃសេវាផ្សេងទៀត</span>
                        </a></li>
                </ul>

                <div class="mb-5">
                    <a href="" class="user" style="color:#fff;">{{ request.user.username }}</a>

                    <a href="{% url 'dashboard:logout' %}" class="btn btn-danger text-white">Logout</a>
                </div>

                <div class="footer">
                    <!-- <p>Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Colorlib.com</a>
                        Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                    </p> -->
                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            {% block content %}

            {% endblock content %}

        </div>
    </div>

    <script>
        let isMouseDown = false;
        let startX;
        let scrollLeft;

        document.querySelector('table').addEventListener('mousedown', function (e) {
            isMouseDown = true;
            startX = e.pageX - document.querySelector('table').offsetLeft;
            scrollLeft = document.querySelector('table').scrollLeft;
        });

        document.querySelector('table').addEventListener('mouseleave', function () {
            isMouseDown = false;
        });

        document.querySelector('table').addEventListener('mouseup', function () {
            isMouseDown = false;
        });

        document.querySelector('table').addEventListener('mousemove', function (e) {
            if (!isMouseDown) return;
            const x = e.pageX - document.querySelector('table').offsetLeft;
            const walk = (x - startX) * 2; // Adjust the multiplier to control the scrolling speed
            document.querySelector('table').scrollLeft = scrollLeft - walk;
        });
    </script>

    <script src="{% static 'js/boostrap/jquery.min.js' %}"></script>
    <script src="{% static 'js/boostrap/popper.js' %} "></script>
    <script src="{% static 'js/boostrap/bootstrap.min.js' %} "></script>
    <script src=" {% static 'js/boostrap/main.js' %}"></script>
</body>

</html>