{% extends 'base.html' %}
{% load static %}

{% block title %}
Check Out Room
{% endblock title %}

{% block content %}
<style>
    form {
        background-color: #e0d5f1;
        max-width: 600px;
        margin: auto;
        border: 1px solid green;
        padding: 25px;
        border-radius: 5px;
        font-size: 20px;
    }

    form input {
        padding: 5px;
        width: 100%;
    }

    @media (max-width: 768px) {
        html{
            font-size: 12px;
        }
        form {
            width:600px;
            font-size: 14px;
            padding: 15px;
        }

        form input {
            width: 25%;
        }
    }

    h2 {
        text-align: center;
        margin: 5vh 0;
    }
</style>
<div class="checkouot-form-ctn" style="margin-top: 10vh;">
    <a href="{% url 'dashboard:CheckOut' %}" class="btn btn-secondary mt-2" onclick="goBack()"><img src="{% static 'img/icons8-back-20.png' %}"> Go back / ត្រឡប់​ក្រោយ</a>
    <h2>Checkout Room / ទូទាត់ចេញ</h2>
    <form method="post" action="{% url 'dashboard:checkout_form_view' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-danger" style="margin: 10px 0;"><img src="{% static 'img/icons8-check-out-20.png' %}"> Check-out / ចាកចេញ</button>
    </form>
</div>
{% endblock content %}